<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <!-- Firebase Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Add Firebase Realtime Database persistence -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <!-- Firebase Database persistence -->
        <meta-data
            android:name="com.google.firebase.database.collection_developer_mode"
            android:value="true" />

        <!-- Internet Permission -->
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="false" />

        <!-- Your Activities -->
        <activity
            android:name="Activity.StartupActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="Activity.CreateAccountActivity"
            android:exported="true">
        </activity>
        <activity android:name="Activity.LoginActivity" >
        </activity>
        <activity android:name="Activity.CreateAccountQuizActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Activity.MainMenuActivity" >
        </activity>
        <activity android:name="Activity.TabsActivity">
        </activity>
    </application>

</manifest>
